authoritative;


subnet 192.168.100.0 netmask 255.255.255.0 {
  option routers 192.168.100.254;
  option domain-name "localdomain";
  option broadcast-address 192.168.100.255;

  group {
    {% for host in mac2ip %}
    host static-host { hardware ethernet {{ host.mac }}; fixed-address {{ host.ip }}; }
    {% endfor %}
  }
}
